@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #020c1b;
  font-family: "Ubuntu", serif;
}

.sub-title {
  @apply tw-text-white tw-font-semibold tw-text-3xl md:tw-text-xl tw-capitalize;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
